
script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
script(src="./js/all.js") 
script(src="./css/libs/bootstrap.bundle.min.js") 




