.sidebar-container 
    ul.list-unstyled
        li
            a(href="#") Home
        li
            a(href="#") Projects
        li
            a(href="#") Advantages
        li
            a(href="#") Languages
        li
            a(href="#") Contact