.sidebar-container 
    ul.list-unstyled
        li
            a(href="#").link-child Home
        li
            a(href="#").link-child About Me
        li
            a(href="#").link-child Projects
        li
            a(href="#").link-child Contact