
$animation-maximize: maximize 100ms;
$default-color : #fff;







.main-div {
	background-image: url(./static/mad_here-wallpaper-1920x1080.jpg);

	background-size: cover;

    background-color: rgb(71, 72, 73);
	
	position: absolute;
	
	inset: 0;
	transition: all .500ms;
	&::after {
		content: '';
		visibility: hidden;
		position: absolute;
		inset: 0;
		backdrop-filter: blur(2px);
	}
}
.main-div.animating {
    &:after{
        visibility: visible;
    }
	.exit-btn {
        
        animation: scaler 500ms ease-in-out ;
		animation-fill-mode: forwards;
	}

	animation: shrink 500ms ease-in-out forwards;
}

.main-div.maximize {
    
	animation: $animation-maximize;
	animation-fill-mode: forwards;
}

.exit-btn {
	position: absolute;
	border-radius: 50%;
	
	
	padding: 15px;
	right: -2%;
    top: 50%;
	color: #e9c7c7;
	transform: scale(0);
	z-index: 1000;
	background-color: #c97839;
	border: none;
    transition: all 200ms ;
    cursor: pointer;

	img{
		width: 50px;
	}
}
.btton {
	position: absolute;
    cursor: pointer;
	right: 50%;
    color: $default-color;
    
	top: 14px;
}



.host-data{
    position: absolute;
    top: 40%;
    left: 5%;
	animation: scaler 500ms ease-in-out ;
	animation-fill-mode: forwards;
	
    .name-div{
        font-size: 14px;
        font-style: italic;
        color: #e9c7c7;
        padding: 14px 0;
        font-weight: bold;
    }

    .desc-div{
        color: $default-color;
    }
   
}














@keyframes shrink {
	0% {
		bottom: 0%;
		top: 0%;
		left: 0%;
		right: 0%;
        visibility: visible;
		border-radius: 0;
	}
	100% {
		bottom: 9%;
		top: 9%;
		left: 0%;
		right: 8%;
        
		border-radius: 0 35px 35px 0;
	}
}
@keyframes maximize {
	0% {
		bottom: 9%;
		top: 9%;
		left: 0%;
		right: 8%;
		border-radius: 0 35px 35px 0;
        
	}
	100% {
		bottom: 0%;
		top: 0%;
		left: 0%;
		right: 0%;
		border-radius: 0;
        
	}
}
@keyframes scaler{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(2);
	}

	100%{
		transform: scale(1);
	}
}