doctype html

-var pageTitle = 'HomePage'
html(lang="en")
    head
        
        include pug/layouts/meta

        include pug/layouts/styles
        title #{pageTitle}
    body 
        include pug/layouts/sidebar

        include pug/components/home_div
        
        
    include pug/layouts/scripts
