doctype html

-var pageTitle = 'PORTFOLIO'
html(lang="en")
    head
        
        include pug/layouts/meta

        include pug/layouts/styles
        title #{pageTitle}
    body 

        .stars
            - for (i = 1; i <= 30; i++)
                .star
        include pug/layouts/sidebar

        include pug/components/home_div
        
        
    include pug/layouts/scripts
