doctype html

-var pageTitle = 'HomePage'
html(lang="en")
    head
        
        include pug/layouts/meta

        include pug/layouts/styles
        title #{pageTitle}
    body 
        .main-div 
            include pug/layouts/host-data
            .btton click me
            .exit-btn
                img(src="css/static/icons/close.svg", alt="", srcset="")

    include pug/layouts/scripts