.aboutme{
    background-color: #fdcb6e;
    position: relative;
    width: 100%;
    height: 100%;
    .main-area{
        position: absolute;
        top: 15%;
        right: 0%;
        left: 0%;
      

        .title{
            position: relative;
            font-weight: bold;
            text-align: center;
            
        }

        .desc{
            position: relative;
            margin-top: 2%;
            font-size: 23px;
            text-align: center;
            padding: 0 30%;
            
        }
    }



    .secondary-area{

        position: relative;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        
        .title{
            font-size: 50px;
            position: relative;
            text-align: center;
            
            &:after{
                position: absolute;
                content: "";
                inset: 0;
                background-color: #fdcb6e;
                

            }

            
        }

        

        .images{
            margin-top: 4%;
            display: flex;
            justify-content: center;
            position: relative;

            img{

                width: 30%;
                height: 33%;
                border-radius: 50%;
               // padding: 0 5px;

                &.express{
                    animation: floateyer 500ms ease-in-out infinite alternate ;

                }

                &.django{
                    animation: floateyer 500ms  infinite alternate ;
                    animation-delay: 300ms;
                }

                &.laravel{
                    animation: floateyer 500ms infinite alternate ;
                    animation-delay: 500ms;

                }


                
               

            }

            &:after{
                position: absolute;
                content: "";
              
                bottom: 0%;
                right: 0%;
                left: 0%;
                background-color: #fdcb6e;
                

            }

            
        }
    }
}


.swiper-slide-active{

    .main-area{

        .title{
            animation: wiper-title 500ms ease-out;
            animation-fill-mode: forwards;
        }

        .desc{
            animation: wiper-right 500ms ease-out;
            animation-fill-mode: forwards;
        }
        

    } 

    .secondary-area{

        .title:after{
            animation: wiper 1000ms ease-out;
            animation-fill-mode: forwards;
        }

        .images:after{
            animation: wiper-up 800ms ease-out;
            animation-fill-mode: forwards;
        }
        

    } 
} 


@keyframes wiper{
    from {
        left: -10%;
    }
    to{
        left: 100%
    }
}


@keyframes wiper-title{
    from {
        left: -100%;
    }
    to{
        left: 0%
    }
}

@keyframes wiper-right{
    from {
        left: 200%;

    }
    to{
        left: 0%;
    }
}

@keyframes wiper-up{
    from {
        top: -20%;
       
    }
    to{
        top: 100%;
     
    }
}




@keyframes floateyer{
    from {
        transform: translateY(-10px);
    }
    to{
        transform: translateY(-20px);
    }
}