.contact{

    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);;
    .contact-info{

        position: relative;
        height: 30%;
        top: 21%;
        .title{
            position: absolute;
            font-size: 12em;
            font-weight: bold;
            text-align: center;
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            left: 0;
            right: 0;
            top: 11%;
    
        }

        .gmail{
            position: absolute;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            color: #fff;
            top: 93%;
            right: 0;
            left: 0;
        
        }

    }

    .bttons{
        position: absolute;
        top: 57%;
        display: flex;
        left: 0;
        right: 0;
        justify-content: center;
        .social-media{
            li{
                display: inline-block;
                margin: 0 40px;
                a{
                    
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    text-decoration: none;
                    overflow: hidden;
                

                    &.facebook:after{
                        background: url(./static/icons/facebook.png);
                        background-repeat: no-repeat;
                        background-size: 100%; 
                    }

                    &.twitter:after{
                        background: url(./static/icons/twitter.png);
                        background-repeat: no-repeat;
                        background-size: 100%; 
                    }

                    &.linkedin:after{
                        background: url(./static/icons/linkedin.png);
                        background-repeat: no-repeat;
                        background-size: 100%; 
                    }

                    &.discord:after{
                        background: url(./static/icons/discord.png);
                        background-repeat: no-repeat;
                        background-size: 100%; 
                    }

                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    } 

                    
                    &:hover{
                        &:after{
                            animation: social_frame 300ms both ease alternate;
                            //  animation-fill-mode: forwards;
                        }
                        
                    } 
                    // &:before{
                    //     content: "";
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: aquamarine;
                    // } 
                    
                    
                }
            }
        }
    }
        
    

}



@keyframes social_frame{

    0%{
        top: 0%;
    }

    25%{
        top: -100%;
        opacity: 0;
       
    }

    50%{
        top: 100%;
        opacity: 0;
        
    }

    100%{
        top: 0%;
        opacity: 1;
    }

}

