$animation-maximize: maximize 100ms;
$default-color: #fff;

.home {
    position: relative;
    .main-div {
        position: absolute;
        inset: 0;
        transition: all 0.5ms;

        z-index: 10;
        &::after {
        content: "";
        visibility: hidden;
        position: absolute;
        inset: 0;
        backdrop-filter: blur(2px);
        z-index: 10;
        }
    }
    .main-div.animating {
        &:after {
        border-radius: 0 35px 35px 0;
        visibility: visible;
        }
        .exit-btn {
        animation: scaler 500ms ease-in-out;
        animation-fill-mode: forwards;
        }

        animation: shrink 500ms ease-in-out forwards;
    }

    .main-div.maximize {
        animation: $animation-maximize;
        animation-fill-mode: forwards;
    }

    .exit-btn {
        position: absolute;
        border-radius: 50%;

        padding: 15px;
        right: -2%;
        top: 45%;
        color: #e9c7c7;
        transform: scale(0);
        z-index: 1000;
        background-color: #c97839;
        border: none;
        transition: all 200ms;
        cursor: pointer;

        img {
        width: 50px;
        }
    }
    .btton {
        z-index: 100;
        position: fixed;
        display: flex;
        cursor: pointer;
        align-items: center;
        font-weight: bold;
        font-size: larger;
        gap: 15px;
        right: 1%;
        color: white;
        top: 5%;

        img {
        height: 40px;
        width: 40px;
        }
    }

    .background {
        height: 118% !important;
    }

    .logo {

        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        top: 11%;
        font-size: 9rem;
        color: #fff;
        font-family: math;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);

        
    }

    .host-data {
        .name-div {
        position: absolute;
        
        top: 31%;
        left: 0;
        text-align: center;
        right: 0%;
        }

        .name {
        color: #fff;
        font-style: italic;
        font-size: 80px;
        //  width: 50%;
        // text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;

       // animation: glow 0.8s ease alternate infinite;

        letter-spacing: .1em;
        text-shadow: 0 0 10px #FFFFFF; 
       // animation: port-glow 1000ms cubic-bezier(0.26, 0.22, 0.54, 0.6) alternate infinite;       
    }

        .desc-div {
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        color: #fff;
        font-style: italic;
        text-align: center;
        font-weight: 600;
        font-size: 34px;
        letter-spacing: .1em;
        text-shadow: 0 0 10px #FFFFFF;        // text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;


        font-family: "Roboto Serif", sans-serif;
        }
    }
}


@keyframes floatey {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(-3px);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgb(131, 131, 131),
      0 0 30px gray, 0 0 40px gray, 0 0 50px #838587, 0 0 60px #838587,
      0 0 70px #838587;
  }

  to {
    text-shadow: 0 0 20px rgb(131, 131, 131), 0 0 30px rgb(131, 131, 131),
      0 0 40px rgb(131, 131, 131), 0 0 50px rgb(131, 131, 131),
      0 0 60px rgb(131, 131, 131), 0 0 70px rgb(131, 131, 131),
      0 0 80px rgb(131, 131, 131);
  }
}

@keyframes shrink {
  0% {
    bottom: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    visibility: visible;
    border-radius: 0;
  }
  100% {
    bottom: 9%;
    top: 9%;
    left: -10%;
    right: 30%;

    border-radius: 0 50px 35px 0;
  }
}
@keyframes maximize {
  0% {
    bottom: 9%;
    top: 9%;
    left: 0%;
    right: 8%;
    border-radius: 0 35px 35px 0;
  }
  100% {
    bottom: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    border-radius: 0;
  }
}
@keyframes scaler {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes port-glow {
    0% {
     
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #242424, 0 0 30px #242424, 0 0 40px #242424, 0 0 55px #242424, 0 0 75px #242424;
        color: white;
    }
  
    50% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #a8a8a8, 0 0 30px #a8a8a8, 0 0 40px #a8a8a8, 0 0 55px #a8a8a8, 0 0 75px #a8a8a8;  
        color: grey;
    }

    100%{
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #cfcfcf, 0 0 30px #cfcfcf, 0 0 40px #cfcfcf, 0 0 55px #cfcfcf, 0 0 75px #cfcfcf;
        color: black;
    }
  }


@media (max-width : 1366px) {
  .home .host-data .name-div{
    top : 41%;
  }

  .home .host-data .desc-div{
    top : 58%;
  }
}

@media (max-width : 800px) {
  .home .host-data .name-div{
    top : 41%;
  }

  .home .host-data .desc-div{
    top: 86%;
  }
}