.projects{
    .content{
        position: relative;
        height: 100vh;
        inset: 0;
        .title{
            
            position: absolute;
            top: 15%;
            left: 50%;
            right: 0;

            h1{
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                font-size: 60px;
            }
        
        }

        .projects-container{
            position: absolute;
            bottom: -35%;
            left: 23%;
        }
    }
}