.swiper-slide.aboutme 

    .main-area 
        h1.title Bio
        p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus numquam voluptatem! Atque, debitis temporibus architecto voluptatibus odit nulla quasi!
    
    .secondary-area
        .title Favourite Frameworks
        .images 
            img.card-img.express(src="css/static/express.png", alt="", srcset="")
            img.card-img.django(src="css/static/django.png", alt="", srcset="")
            img.card-img.laravel(src="css/static/laravel.png", alt="", srcset="")
