.swiper-slide.contact 



    .contact-info
        h1.title Contact 

        h1.gmail mahmoudv2012@gmail.com

    .bttons
        ul.social-media.list-unstyled
            li 
                a.facebook(href="")
            li
                a.twitter(href="")
            li
                a.linkedin(href="")
            li
                a.discord(href="")