.swiper-slide.contact 



    .contact-info
        h1.title Contact 

        div.container-gmail
            .gmail
                img(src="css/static/Gmail.png").title
                .mail mahmoudv2012@gmail.com

            .number
                img(src="css/static/Phone.png").title
                .mail +201202645204

    .bttons
        ul.social-media.list-unstyled
            li 
                a.facebook(href="https://www.facebook.com/mahmoud.elbermbaly")
            li
                a.twitter(href="https://twitter.com/8UuLdOy7XQPuJQC")
            li
                a.linkedin(href="https://www.linkedin.com/in/mahmoud-hesham-20ab511a8/")
            li
                a.discord(href="")