.swiper-slide.contact 

    .content 

        .contact-info
            h1.title Contact 

            h1.gmail mahmoudv2012@gmail.com

        .bttons
            ul.social-media.list-unstyled
                li 
                    a(href="")  facebook
                li
                    a(href="") twitter
                li
                    a(href="") linkedin
                li
                    a(href="") youtube