
.swiper-slide.home
  
    .container
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg").background
        
        img.pic(src="css/static/buisness.png")
        h1.logo Portfolio
        .host-data

            
            .name-div 
                p.name 
                  |Hi I'm  
                  span Mahmoud hesham elbermbaly
                
            .desc-div 
                div Backend Web Engineer

                a(href="css/static/cv/resume.pdf").cv Download CV
                    img.docs-image(src="css/static/docs.png")


        //- - for (i = 1; i <= 50; i++)
        //-     .circle-container
        //-         .circle
    

