.swiper-slide.projects 
    .content
        .title
            h1 Projects



        .container.projects-container
            .row 
                .col-lg-4 
                    img.card-img(src="css/static/moon.png")
                    h1.title project
                    ul.list-unstyled
                        li asd
                    

                .col-lg-4 
                    img.card-img(src="css/static/red.jpg")
                    h1.title project
                    ul.list-unstyled
                        li asd

                .col-lg-4
                    img.card-img(src="css/static/laravel.png")
                    h1.title project
                    ul.list-unstyled
                        li asd