.main-div 

    //- video(controls src="https://preview.redd.it/rwxzw3abv5j81.gif?width=960&format=mp4&s=58d81c237d93f1530aaab6ba399f5c78735ab0bb") 
    
    .btton
        | Menu
        img(src="css/static/icons/menu.svg") 
    .exit-btn
        img(src="css/static/icons/close.svg", alt="", srcset="")

    .swiper 
        .swiper-wrapper
            
            include ../pages/home

            
            .swiper-slide.projects
                | slide 2
            .swiper-slide.advantages
                | slide 3
            .swiper-slide.languages
                | slide 4
            .swiper-slide.contact
                | slide 5